n8n/workflows/simple-automation.json
{
  "name": "Simple Automation – Hello",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hello",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "a1b2c3d4-0002-4000-8000-000000000002"
    },
    {
      "parameters": {
        "url": "http://backend:4000/api/hello",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Call Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://python-api:8000/compute?n=7",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Call Python API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const backendData = $('Call Backend').first().json;\nconst pythonData  = $('Call Python API').first().json;\nreturn [{ json: { source: 'n8n-workflow', backend: backendData, python: pythonData, timestamp: new Date().toISOString() } }];"
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend": {
      "main": [
        [
          {
            "node": "Call Python API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Python API": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "active": true
}