n8n/workflows/simple-automation.json
{
  "name": "Simple Automation – Hello",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hello",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "hello-webhook"
    },
    {
      "parameters": {
        "url": "http://backend:4000/api/hello",
        "options": {}
      },
      "id": "call-backend",
      "name": "Call Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://python-api:8000/compute?n=7",
        "options": {}
      },
      "id": "call-python",
      "name": "Call Python API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine responses from the backend and the Python API\nconst backendData  = $('Call Backend').first().json;\nconst pythonData   = $('Call Python API').first().json;\n\nreturn [{\n  json: {\n    source: 'n8n-workflow',\n    backend: backendData,\n    python:  pythonData,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "combine-results",
      "name": "Combine Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend": {
      "main": [
        [
          {
            "node": "Call Python API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Python API": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": []
}